body {
    background: linear-gradient(#3217ff, #27e7e1 40%, #d62cf1 100%);
}
.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}
.profileImage {
  width: 200px;
}
.profile h2 {
  color: black;
}
.profile h4 {
  color: black;
  transform: translateY(-10px);
}
.biodata {
  background: linear-gradient(#fffeff 0%, #ffffffd5 40%, #fdfdfd00 100%);
  padding-bottom: 200px;
  padding-top: 55px;
}
.row {
  padding: 0px 20px;
}
.footer {
  background-color: white;
  padding-bottom: 20px;
}
.col button{
  transform: translateY(-10px);

}
.contact a {
  color: black;
  font-size: 20px;
}
.watermark {
  padding-top: 10px;
}
.Achievement {
  padding-top: 55px;
}
.Button1 {
  font-family: "Sofia", sans-serif;
}
.modal-body {
  text-align: left;
}
.logo-small {
  width: 100px; /* Lebar maksimal logo */
  height: auto; /* Menjaga rasio aspek gambar */
  margin-bottom: 10px; /* Memberikan jarak dengan konten di bawahnya */
}
